<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- invitation-form.ejs -->
<form action="/send" method="POST">
    <input type="email" name="emails" id="emails" required>
    <button type="submit">Send Invitation</button>
</form>
</body>
</html>